.home-container {
  min-height:380vh; 
  background: linear-gradient(135deg, #0F1217FF, #1a114c); 
  color: white;
  padding:0px;
  margin:0px;
  justify-content: center;
  align-items: center;
}
.image-intro{
  width: 60%;
  height: 60%;
  margin-left:20%;
  
}
.home-hr{
  width: 50%;
  margin-left:25%;
}

