

  .sign-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin: auto;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      overflow: hidden;
  }

  .imageContent {
      width:35%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  }

  .imageContent img {
      max-width: 100%;
      max-height: 100%;
      object-fit:fill;
  }

  .form-content {
      width:65%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #f9f9f9;
  }

  .form-content h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: #333;
  }

  .form-content form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .form-content input {
      margin-bottom: 1rem;
      padding: 0.75rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      transition: border-color 0.3s;
      width:80%;
  }

  .form-content input:focus {
      border-color: #4facfe;
  }

  .form-content button {
      padding: 0.75rem;
      background: #4facfe;
      border: none;
      color: white;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
      width:80%;
  }

  .form-content button:hover {
      background: #A7BAC0FF;
  }

  .form-content p {
      margin-top: 1rem;
      font-size: 0.9rem;
      color: #666;
      text-align: center;
  }

  .form-content a {
      color: #4facfe;
      text-decoration: none;
      font-weight: bold;
  }

  .form-content a:hover {
      text-decoration: underline;
  }

  @media (max-width: 768px) {
      .sign-content {
          flex-direction: column;
      }

      .imageContent, .form-content {
          width: 100%;
      }
  }

